---
import Layout from '../../layouts/Layout.astro';
---

<Layout
  title='Sobre Carlos Pulido - Desarrollador Web Frontend | Perfil Profesional'
  description='Conoce a Carlos Pulido, desarrollador web frontend. Descubre mi trayectoria, pasi칩n por el c칩digo y el dise침o, y c칩mo puedo aportar valor a tu equipo.'
>
  <main class='min-h-screen'>
    <h1 class='font-medium text-2xl collapse-arrow gap-0'>Hola</h1>
  </main>
</Layout>
