---
import Layout from '../../layouts/Layout.astro';
import '../../styles/global.css';
---

<Layout
  title='Sobre Carlos Pulido - Desarrollador Web Frontend | Perfil Profesional'
  description='Conoce a Carlos Pulido, desarrollador web frontend. Descubre mi trayectoria, pasi칩n por el c칩digo y el dise침o, y c칩mo puedo aportar valor a tu equipo.'
>
  <h1>Sobre mi</h1>
  <main class='min-h-screen'></main>
</Layout>
