---
import Layout from '../../layouts/Layout.astro';
import '../../styles/global.css';
---

<Layout
  title='Blog de Carlos Pulido: Mis Ideas sobre Desarrollo Web'
  description='¿Interesado en desarrollo frontend? Explora mi blog para encontrar análisis, consejos y experiencias con tecnologías como JavaScript, TypeScript y Tailwind CSS'
>
  <h1>Blog</h1>
  <main class='min-h-screen'></main>
</Layout>
