@import 'tailwindcss';
@plugin "@midudev/tailwind-animations";

@plugin "daisyui" {
  themes:
    sunset --default,
    sunset --prefers sunset,
    light;
}

@theme {
  --font-fallback: 'Adjusted Arial Fallback', system-ui, -apple-system,
    blinkmacsystemfont, 'Segoe UI', 'Noto Sans', helvetica, arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
}

html {
  scroll-behavior: smooth;
}
