---
import Layout from '../../layouts/Layout.astro';
import '../../styles/global.css';
---

<Layout
  title='Contacto con Carlos Pulido - Chat y Consultas'
  description='¿Tienes un proyecto o pregunta? Conéctate directamente con Carlos Pulido, desarrollador web frontend, a través de nuestro chat en vivo. ¡Hablemos!'
>
  <h1>Chat</h1>
  <main class='min-h-screen'></main>
</Layout>
