---
import Image from 'astro/components/Image.astro';
import logo from '../assets/images/logo.webp';
let activeClass = 'link-base bg-base-200';
---

<header class='sticky top-0 z-50'>
  <div class='navbar bg-base-100 shadow-sm'>
    <div class='navbar-start'>
      <div class='dropdown'>
        <div
          tabindex='0'
          role='button'
          aria-label='Menu'
          class='btn btn-ghost lg:hidden'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='h-5 w-5'
            fill='none'
            viewBox='0 0 24 24'
            stroke='currentColor'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              stroke-width='2'
              d='M4 6h16M4 12h8m-8 6h16'></path>
          </svg>
        </div>
        <ul
          tabindex='0'
          class='menu menu-lg dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow'
        >
          <li>
            <a href='/' class={Astro.url.pathname === '/' ? activeClass : ''}
              >Inicio</a
            >
          </li>
          <li>
            <a
              href='/about'
              class={Astro.url.pathname === '/about' ? activeClass : ''}
              >Sobre mí</a
            >
          </li>
          <li>
            <a
              href='/projects'
              class={Astro.url.pathname === '/projects' ? activeClass : ''}
              >Proyectos</a
            >
          </li>
          <li>
            <a
              href='/blog'
              class={Astro.url.pathname === '/blog' ? activeClass : ''}>Blog</a
            >
          </li>
          <li>
            <a
              href='/contact'
              class={Astro.url.pathname === '/contact' ? activeClass : ''}
              >Contacto</a
            >
          </li>
        </ul>
      </div>
      <a class='btn btn-ghost normal-case text-xl' href='/'
        ><Image
          loading='eager'
          width={32}
          src={logo}
          alt='Logo del portafolio'
        />Carlos Pulido</a
      >
    </div>
    <div class='navbar-center hidden lg:flex'>
      <ul class='menu menu-horizontal px-1'>
        <li>
          <a href='/' class={Astro.url.pathname === '/' ? activeClass : ''} '
            >Inicio</a
          >
        </li>
        <li>
          <a
            href='/about'
            class={Astro.url.pathname === '/about' ? activeClass : ''}
            >Sobre mí</a
          >
        </li>
        <li>
          <a
            href='/projects'
            class={Astro.url.pathname === '/projects' ? activeClass : ''}
            >Proyectos</a
          >
        </li>
        <li>
          <a
            href='/blog'
            class={Astro.url.pathname === '/blog' ? activeClass : ''}>Blog</a
          >
        </li>
        <li>
          <a
            href='/contact'
            class={Astro.url.pathname === '/contact' ? activeClass : ''}
            >Contacto</a
          >
        </li>
      </ul>
    </div>
    <div class='navbar-end'>
      <label class='toggle text-base-content' for='theme-controller'>
        <input
          aria-label='Cambiar entre tema oscuro y tema de claro'
          type='checkbox'
          value='synthwave'
          class='theme-controller'
          data-toggle-theme='dark,fantasy'
          data-act-class='ACTIVECLASS'
          id='theme-controller'
        />

        <svg
          xmlns='http://www.w3.org/2000/svg'
          viewBox='0 0 24 24'
          aria-label='Ilustración de la luna'
          ><g
            stroke-linejoin='round'
            stroke-linecap='round'
            stroke-width='2'
            fill='none'
            stroke='currentColor'
            ><circle cx='12' cy='12' r='4'></circle><path d='M12 2v2'
            ></path><path d='M12 20v2'></path><path d='m4.93 4.93 1.41 1.41'
            ></path><path d='m17.66 17.66 1.41 1.41'></path><path d='M2 12h2'
            ></path><path d='M20 12h2'></path><path d='m6.34 17.66-1.41 1.41'
            ></path><path d='m19.07 4.93-1.41 1.41'></path></g
          ></svg
        >

        <svg
          xmlns='http://www.w3.org/2000/svg'
          viewBox='0 0 24 24'
          aria-label='Ilustración del sol'
          ><g
            stroke-linejoin='round'
            stroke-linecap='round'
            stroke-width='2'
            fill='none'
            stroke='currentColor'
            ><path d='M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z'></path></g
          ></svg
        >
      </label>
    </div>
  </div>
</header>
