---
import Avatar from './Avatar.astro';
import myBackground from '../assets/images/background.avif';
import { getImage } from 'astro:assets';
const optimizedBackground = await getImage({
  src: myBackground,
  format: 'avif'
});
---

<main
  style={`background-image: url(${optimizedBackground.src});`}
  class='bg-cover bg-center min-h-screen relative inset-0 bg-blend-darken flex flex-col justify-center items-center bg-black/40'
>
  <div class='hero-overlay'></div>
  <div class='hero-content text-neutral-content text-center'>
    <div class='max-w-md'>
      <Avatar />

      <h1 class='font-black mb-5 text-5xl antialiased'>
        Hola soy <span class='text-accent'>Carlos</span>
      </h1>
      <p class='font-bold text-xl antialiased'>Bienvenido a mi portafolio.</p>
      <p class='font-bold mb-5 text-xl antialiased'>
        Aquí encontrarás información sobre mi trayectoria profesional y
        proyectos personales.
      </p>

      <a
        href='/about'
        class='btn btn-primary btn-lg transition-transform ease-in-out hover:scale-105'
      >
        <span class='motion-safe:animate-pulse'>Adelante</span>
      </a>
    </div>
  </div>
</main>
