---
interface Props {
  id: string;
  title: string;
  className?: string;
}

const { id, title, className } = Astro.props;
---

<svg class={className} viewBox='0 0 24 24'>
  <title>{title}</title>
  <use href={id}></use>
</svg>
