---
import fs from 'fs';
const sprite = fs.readFileSync('./src/assets/images/sprite.svg', 'utf-8');
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { ClientRouter } from 'astro:transitions';
import Font from 'astro/components/Font.astro';
import '../styles/global.css';
interface Props {
  title: string;
  description?: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content={description} />
    <script>
  const theme = localStorage.getItem("theme") || 
  (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
  document.documentElement.setAttribute("data-theme", theme);
</script>

    <title>{title}</title>
    <Font cssVariable='--font-inter' preload />
    <ClientRouter />
  </head>
  <body>
    <Header />
    <div set:html={sprite} />
    <slot />
    <Footer />
  </body>
</html>
<style>
  body {
    font-family: var(--font-inter), var(--font-fallback);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
</style>
